@import './reset.css';
@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

body {
  font-family: 'Inter', system-ui, sans-serif;
  background-color: #282828;

  padding-top: 10vh;
}

.none {
  display: none !important;
}

.hero {
}
.hero__title {
  font-weight: 700;
  font-size: 32px;
  line-height: 1;
  text-shadow: 0px 0px 20px rgb(17, 70, 80);
}

.weather {
  max-width: min-content;
  padding: 30px 20px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  border-radius: 16px;
  color: #fff;
  background-color: #389196;
}

/* form */
.form {
  display: flex;
  align-items: center;

  width: max-content;

  height: 40px;
  padding: 8px 10px 8px 20px;
  /* margin-bottom: 20px; */

  background-color: #fff;
  border-radius: 50px;

  transition: opacity ease-in 0.2s;
}
.form:hover {
  opacity: 0.8;
-radius: 50px;
-right: 10px;
}

.form__input::placeholder {
  font-weight: 400;
  font-size: 16px;
}

.form__btn {
}
.form__btn-img {
}

/* section info */
.weather__info {
  text-align: center;
  padding-bottom: 40px;
}

.weather__info-img {
  width: 90%;
  margin-bottom: 16px;
}

.weather__temp {
  font-weight: 700;
  font-size: 56px;
}

.weather__city {
  font-weight: 500;
  font-size: 38px;
}

/* section details */
.weather__details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;

  /* width: max-content; */
  width: 100%;
}

.weather__wrap {
  display: flex;
  align-items: center;
  gap: 10px;
}

.weather__details-img {
  width: 36px;
}

.weather__details-value {
  font-weight: 300;
  font-size: 20px;
}

.weather__subtitle {
  font-weight: 300;
  font-size: 14px;
}
